body {
	background-color: #C0C0C0;
	background-image: url(313.jpg), url(ak.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top right, bottom right;
	background-attachment: fixed;

	background: url(313.jpg) no-repeat top right #C0C0C0;
}
h1 {
	text-align: center;
}
.col1 {
	color: #FFFFFF;
}

.col2 {
	color: #808080;
}

.col3 {
	color: hsl(0,50%, 20%);
}